In [2]:
import pandas as pd
import numpy as np

In [3]:
pruthi = pd.read_csv("../output/textattack_pruthi_100.csv")
pruthi.head()

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
0,[[Rivalry]] between brothers leads to main sto...,[[Rivary]] between brothers leads to main stor...,0.008789,0.650221,0.0,1.0,0.0,1669.0,Successful
1,"A brash, self-centered Army cadet arrives at W...","A brash, self-centered Army cadet arrives at W...",0.000431,0.000964,1.0,1.0,1.0,2085.0,Failed
2,Having sat and watched this film I can only wo...,Having sat and watched this film I can only wo...,0.000698,0.000821,0.0,0.0,0.0,1104.0,Failed
3,I was so [[offended]] by this film that I had ...,I was so [[offebded]] by this film that I had ...,0.019872,0.990985,0.0,1.0,0.0,1548.0,Successful
4,"Beautiful art direction, excellent editing and...","Beautiful art direction, excellent editing and...",0.001520,0.002541,1.0,1.0,1.0,971.0,Failed

In [4]:
pruthi.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
original_text,100,100,[[Rivalry]] between brothers leads to main sto...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
perturbed_text,100,100,[[Rivary]] between brothers leads to main stor...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
original_score,100.0,NaN,NaN,NaN,0.094455,0.27121,0.000314,0.000789,0.001414,0.005587,0.999282
perturbed_score,100.0,NaN,NaN,NaN,0.340498,0.43161,0.000409,0.00218,0.022154,0.922304,0.999282
original_output,100.0,NaN,NaN,NaN,0.46,0.500908,0.0,0.0,0.0,1.0,1.0
perturbed_output,100.0,NaN,NaN,NaN,0.41,0.494311,0.0,0.0,0.0,1.0,1.0
ground_truth_output,100.0,NaN,NaN,NaN,0.41,0.494311,0.0,0.0,0.0,1.0,1.0
num_queries,100.0,NaN,NaN,NaN,1431.04,593.19605,1.0,1293.5,1524.5,1778.25,2799.0
result_type,100,3,Failed,66,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
pruthi.result_type.value_counts()

Failed        66
Successful    25
Skipped        9
Name: result_type, dtype: int64

In [7]:
pruthi.loc[pruthi.result_type=="Skipped"]

,original_text,perturbed_text,original_score,perturbed_score,original_output,perturbed_output,ground_truth_output,num_queries,result_type
8,I saw this movie when it first came to the the...,I saw this movie when it first came to the the...,0.999282,0.999282,1.0,1.0,0.0,1.0,Skipped
12,I have watched this movie at least ten times. ...,I have watched this movie at least ten times. ...,0.996324,0.996324,0.0,0.0,1.0,1.0,Skipped
17,"When Exploiters become evangelist, they still ...","When Exploiters become evangelist, they still ...",0.993002,0.993002,1.0,1.0,0.0,1.0,Skipped
21,The Foreigner is a straight-to-video Steven Se...,The Foreigner is a straight-to-video Steven Se...,0.826278,0.826278,1.0,1.0,0.0,1.0,Skipped
34,"I work at a nuclear power plant, so I am getti...","I work at a nuclear power plant, so I am getti...",0.919527,0.919527,0.0,0.0,1.0,1.0,Skipped
55,I have recently become a huge fan of Patton Os...,I have recently become a huge fan of Patton Os...,0.999017,0.999017,1.0,1.0,0.0,1.0,Skipped
64,Once I heard that the greatest and oldest pres...,Once I heard that the greatest and oldest pres...,0.998111,0.998111,1.0,1.0,0.0,1.0,Skipped
74,Childish storyline ripped off of a lame Hollyw...,Childish storyline ripped off of a lame Hollyw...,0.996944,0.996944,1.0,1.0,0.0,1.0,Skipped
76,"I'm not sure if this is a comedy or not, but I...","I'm not sure if this is a comedy or not, but I...",0.713871,0.713871,1.0,1.0,0.0,1.0,Skipped

In [28]:
### Compile Stats

In [41]:
pruthi_stats = {}

pruthi_stats['total_attacks'] = len(pruthi)
pruthi_stats['avg_n_queries'] = pruthi.num_queries.mean()
pruthi_stats['successful_attacks'] = pruthi.loc[pruthi['result_type']=="Successful"].shape[0]
pruthi_stats['failed_attacks'] = pruthi.loc[pruthi['result_type']=="Failed"].shape[0]
pruthi_stats['skipped_attacks'] = pruthi.loc[pruthi['result_type']=="Skipped"].shape[0]
pruthi_stats['attack_success_rate'] = 100*np.round(pruthi_stats['successful_attacks']/(pruthi_stats['successful_attacks'] + pruthi_stats['failed_attacks']),2)
pruthi_stats['orig_accuracy'] = (pruthi_stats['total_attacks']  - pruthi_stats['skipped_attacks']) * 100.0 / (pruthi_stats['total_attacks'])
pruthi_stats['attack_accuracy'] = (pruthi_stats['failed_attacks']) * 100.0 / (pruthi_stats['total_attacks'])

In [42]:
pruthi_stats

{'total_attacks': 100,
 'avg_n_queries': 1431.04,
 'successful_attacks': 25,
 'failed_attacks': 66,
 'skipped_attacks': 9,
 'attack_success_rate': 27.0,
 'orig_accuracy': 91.0,
 'attack_accuracy': 66.0}

In [36]:
pruthi.shape

(100, 9)